<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Spirit | Bot</title>
    <link rel="icon" href="https://cdn.discordapp.com/avatars/959103746560897104/3f055212e46554dcb4297852acbd3a0a.png?size=1024">
    <link href="style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="icon" href="https://cdn.discordapp.com/avatars/959103746560897104/3f055212e46554dcb4297852acbd3a0a.png?size=1024">
    <meta name="author" content="Spirit - ©2022 ">
    <meta name="theme-color" content="#2f3136">
    <meta name="language" content="es">
    <meta property="og:title" content="Spirit | Bot">
    <meta property="og:description" content="Un bot util :)">
    <meta property="og:image" content="https://cdn.discordapp.com/avatars/959103746560897104/3f055212e46554dcb4297852acbd3a0a.png?size=1024">
    <meta property="og:type" content="article">
    <meta name="robots" content="index">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,500&display=swap" rel="stylesheet">
  </head>
  <body>
    <header class="container">
		<figure class="logo">
			<img src="https://cdn.discordapp.com/avatars/959103746560897104/3f055212e46554dcb4297852acbd3a0a.png?size=1024" alt="Logo" class="discord">
        </figure>
        <nav>
            <a href="./" class="item-options">Inicio</a>
            <a href="https://discord.com/api/oauth2/authorize?client_id=959103746560897104&permissions=8&scope=bot%20applications.commands" class="item-options">Invitación</a>
            <a href="devs" class="item-options" target="_blank">Developers</a>
        </nav>
    </header>
    <center>
      <img src="" class="Banner">
    </center>
      <center>
        <h1>
        ¡Te presento a Spirit!
        </h1>
      </center>
    <div class="body">
      <center>
        <p>
      </p>
      </center>
      <center>
        <div>
            <h3>Spirit Support</h3>
          <center>
            <a href="https://discord.gg/YZFZnemwMK

"><img src="https://discord.com/api/guilds/843200863647301653/widget.png?style=banner2">
      </center>
    </div>
    <style><%-include('./partials/style'); %></style>
        <footer><%-include('./partials/footer'); %></footer>
  </body>
</html>